.builder {
	padding-bottom: 40px;
	padding-top: $pageToolbarHeight + 40px;

	.builder-shift {
		margin-left: auto;
		margin-right: calc(50% - #{$builderMaxWidth} / 2);
		max-width: $builderMaxWidth;
		transition: margin-right ease 0.2s;
	}

	.configuration-element {
		margin-bottom: 1rem;
		padding: 0;

		.configuration-editor {
			padding: 0 1.5rem 1rem;

			.codemirror-editor-wrapper {
				background-color: $secondaryHover;
				border: 0.0625rem $mainLighten74 solid;
				border-radius: 0.25rem;
			}
		}

		.list-group {
			margin: 0.5rem 0;

			.list-group-item {
				border: 0;
			}
		}
	}

	.configuration-header {
		font-weight: bold;
		margin-bottom: 1.25rem;

		&.configuration-header-settings {
			margin-top: 30px;
		}

		.builder-actions {
			float: right;

			.collapse-button {
				color: $mainLighten28;
				font-size: 0.875rem;
				margin: 0.125rem 1rem 0 0;
			}
		}
	}

	.selected-elements-empty-text {
		color: $secondaryL1;
		margin: 0.5rem auto 1.5rem;
		padding: 16px 0;
		text-align: center;
		width: 360px;
	}

	.settings-content-container {
		.framework-icon {
			.sticker-overlay {
				background-color: $lightBackground;
			}

			.sticker-img {
				width: 60%;
			}
		}

		.framework-text {
			justify-content: center;
		}

		.panel-title {
			text-transform: uppercase;
		}

		.panel-unstyled .panel-header.panel-header-link:focus {
			box-shadow: 0 0 0 0.25rem $white, 0 0 0 0.375rem $primaryL2; // Fixes gray border to white
		}

		.searchable-asset-types {
			.sheet-text {
				font-size: 14px;
			}

			.select-asset-types {
				margin-bottom: 24px;
			}
		}
	}

	.sheet + .sheet {
		margin-top: 0;
	}
}

@media (min-width: calc(#{$builderMinWidth} + #{$sidebarWidth})) {
	.open-sidebar .builder-shift {
		margin-right: calc(
			max(
				50% - (#{$builderMaxWidth} / 2),
				#{$sidebarWidth} - (50vw - 50%) + 24px
			)
		);
	}
}

@media (min-width: calc(#{$builderMinWidth} + #{$previewWidth})) {
	.open-preview .builder-shift {
		margin-right: calc(
			max(
				50% - (#{$builderMaxWidth} / 2),
				#{$previewWidth} - (50vw - 50%) + 24px
			)
		);
	}
}
