.sidebar {
	background-color: $white;
	display: flex;
	flex-direction: column;
	height: calc(100% - #{$controlMenuToolbarHeight} - #{$navigationBarHeight});
	margin-top: $navigationBarHeight;
	position: fixed;
	right: 0;
	transform: translateX(100%);
	transition: transform ease 0.2s;
	width: $sidebarWidth;
	z-index: 972;

	&.open {
		transform: translateX(0);
		transition: transform ease 0.2s;
	}

	&.preview {
		overflow-x: overlay;
		width: $previewWidth;

		.btn:focus {
			box-shadow: unset;
		}

		.sidebar-search {
			border-bottom: 0;
		}
	}

	.empty-list-message {
		padding: 16px;
		text-align: center;
	}

	.try-search-message {
		color: $secondary;
		margin: 0.5rem auto 1.5rem;
		padding: 16px 0;
		text-align: center;
		width: 340px;
	}

	.component-text {
		margin-right: 16px;
	}

	.panel.text-danger {
		margin: 0;
		position: static;

		.panel-header {
			background-color: $errorL2;
			border-color: $errorL1;
			border-radius: 0.25rem;
			border-style: solid;
			border-width: 0.0625rem;
			color: $danger;
			margin: 0 16px;
			width: calc(100% - 32px);
		}
	}

	.preview-results-list {
		.list-group {
			margin-bottom: 16px;

			.list-group-item {
				.sticker {
					background-color: $infoL2;
					color: $info;
					width: 2.5rem;
				}
			}
		}

		.pagination-bar {
			justify-content: flex-end;
		}
	}

	.query-element-list {
		overflow-y: scroll;
		padding-bottom: 16px;

		.list-group {
			margin-bottom: 0;

			.list-group-item {
				border: 0;

				&.hover {
					background-color: $primaryL4;
				}

				.sticker {
					background-color: $lightBackground;
					color: $mainLighten28;
				}

				.autofit-col:first-of-type {
					padding-right: 0.5rem;
				}

				.button-wrapper {
					background-color: $primaryL4;
					display: table;
					height: 100%;
					padding-left: 1rem;
					position: absolute;
					right: 0.5rem;

					.add-fragment-button {
						display: table-cell;
						vertical-align: middle;
					}
				}
			}
		}
	}

	.shortcut-icon {
		padding-left: 4px;
	}

	.sidebar-header {
		display: flex;
		justify-content: space-between;

		button {
			color: $mainLighten28;
		}

		.component-title {
			font-size: 1rem;
		}
	}

	.sidebar-dt {
		margin: 0;

		&.btn:focus {
			box-shadow: 0 0;
		}

		.sidebar-arrow {
			position: absolute;
			right: 12px;
		}
	}

	.sidebar-search {
		height: auto;
		padding-bottom: 16px;
	}
}
