@import '_variables';

.configuration-set-root {
	@import '_builder';
	@import '_page_toolbar';
	@import '_sidebar';

	.bold {
		font-weight: 700;
	}

	.icon {
		background-color: $secondaryHover;
	}

	.italic {
		font-style: italic;
	}

	.secondary {
		color: $secondaryL1;
	}
}
